<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
        </div>
    <h4>Latest Mars News</h4>
    <h6>{{mars.latest_news_title}}</h6>
    <p>{{mars.latest_news_paragraph}}</p>
    <br>
    <h4>Mars Facts</h4>
    <div>
        {{mars.mars_fact|safe}}
    </div>
    <div>
    <h2>Mars Hemisphere</h4>
    {% for hemisphere in mars.mars_hemisphere %}
        {{ hemisphere.title }}
    {% endfor %}
    {% for image in mars.mars_hemisphere %}
        <img src="{{ image.img_url}}" alt="image.title">
    {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>